
@font-face{
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
    src: url(fonts/Serif.woff2);
}
@font-face{
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
    src: url(fonts/Sans.woff2);
  
}
body{
    background-color: red;
}
#container{
    background-color: rgb(255, 255, 255);
    padding-left:50px;
    padding-top: 2px;
    padding-right: 124px;    
    width: 800px;
    margin-top: 190px;
    border-width: 0px;
    
}
h1{
    font-size: 44px;
    line-height: 48px;
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
    font-weight: 500;
    color: #3F3F42;
}

#datetime{
    color: #696969; 
    margin-bottom: 35px ;    
}
#button{
    font-size: 14px;
    border: 1px solid #DB7F7F;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    white-space: nowrap;  
}
hr{
    margin-top: 32px;
    margin-bottom: 25px;
}
a#button{
    color: #3F3F42;
}
a:hover#button{
    color:white;
    background-color: #b80000;  
  }

#bold{
    font-weight: bold;
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
}

.text {
    margin-right: 220px;
    font-size: 16px;
    color: #3F3F42;
    font-weight: 400;
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
    display: block;
    margin-block-start: 16px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
}
a{
    color:#696969;
}
a:hover{
    color: #b80000;
    background-color: none;
}
figcaption{
    background: #3F3F42;
    color: #EEEEEE;
    padding: 16px;
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
}
.list{
    list-style-type: disc;
}
li.list{
    margin-bottom: 20px;
    font-weight: bolder;
    color:#696969;
}
a.list{
    border-bottom: 1px solid #BABABA;
    text-decoration: none;
 }

figure{
    margin:0px;
}
img{
   border: 0px;
   margin:0px;
   width: 800px;
   padding: 0px;
}
iframe{
   border: 0px;
   margin:0px;
   height: 450px ;
   width: 800px;
   padding: 0px;
}
#footer{
    font-size: 20px;
    text-align: center;
    border-style: bold;
    border-color: black;
    background-color: slateblue;
    width: 974px;
    padding: 30px 0px;
}
a#footer{
    color: white;
}
a:hover#footer{
    color: #b80000;
    background-color: none;
}
#table{
    position: relative;
    left: 250px;
    background-color:rgb(255, 255, 255);
    font-size: 20px;
    vertical-align: center;
    color: black; 
    width: 250px;  
}
th{
    padding:10px;
    border: 1px solid black;
}
td{
    padding:10px;
    border: 1px solid black;
}
       
