
@font-face{
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
    src: url(fonts/Serif.woff2);
}
@font-face{
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
    src: url(fonts/Sans.woff2);
  
}
#container{
    background-color: rgb(255, 255, 255);
    line-height: 1;
    margin-left: 50px;
    width: 800px;
}
#datetime{
    color: #696969; 
    margin-bottom: 35px ;    
}
#button{
    font-size: 14px;
    border: 1px solid #DB7F7F;
    font-weight: bold;
    padding: 8px;
    text-decoration: none;
    white-space: nowrap;  

}
hr{
    margin-top: 32px;
    margin-bottom: 25px;
}
a#button{
    color: #3F3F42;
}
a:hover#button{
    color:white;
    background-color: #b80000;  
  }

#bold{
    font-weight: bold;
}
h1{
    font-size: 44px;
    line-height: 3rem;
    font-family: ReithSerif,Helvetica,Arial,freesans,sans-serif;
    font-weight: 500;
    color: #3F3F42;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
.text {
    margin-right: 220px;
    font-size: 16px;
    color: #3F3F42;
    font-weight: 400;
    font-family: ReithSans,Helvetica,Arial,freesans,sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}
a{
    color:#696969;
}
a:hover{
    color: #b80000;
    background-color: none;
}
a:visited{
    color: #b80000;
}

figcaption{
    background: #3F3F42;
    color: #EEEEEE;
    padding: 1rem;
}
.list{
    list-style-type: disc;
}
li.list{
    margin-bottom: 20px;
    font-weight: bolder;
    color:#696969;
}
a.list{
    border-bottom: 1px solid #BABABA;
    text-decoration: none;
 }





figure{
    margin:0px;
}

img{
   border: 0px;
   margin:0px;
   width: 800px;
   padding: 0px;
}
iframe{
   border: 0px;
   margin:0px;
   height: 450px ;
   width: 800px;
   padding: 0px;
}

